version: "2"
services:
    db:
        image: mysql:5.6
        container_name: athletica-mysql
        volumes:
            - "./src/athletica/sql/athletica.sql:/docker-entrypoint-initdb.d/athletica.sql"
            - "./config/athletica-grant-super.sql:/docker-entrypoint-initdb.d/athletica-grant-super.sql"
            - "db_data:/var/lib/mysql"
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=roott
            - MYSQL_DATABASE=athletica
            - MYSQL_USER=athletica
            - MYSQL_PASSWORD=athletica
    php:
        build: .
        image: ppoile/athletica-php
        container_name: athletica-php
        volumes:
            - "./src:/var/www/html"
        ports:
            - "80:80"
        restart: always
        depends_on:
            - db
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: athletica-phpmyadmin
        ports:
            - "8080:80"
        environment:
            - PMA_ARBITRARY=1
            - PMA_HOST=db
        restart: always
        depends_on:
            - db
volumes:
    db_data:
