version: "2"
services:
    db:
        image: mysql:5.6
        container_name: athletica-mysql
        volumes:
            - "./src/athletica/sql/athletica.sql:/docker-entrypoint-initdb.d/athletica.sql"
            - "./src/athletica_liveresultate/sql/athletica_liveresultate.sql:/docker-entrypoint-initdb.d/athletica_liveresultate.sql"
            - "./config/athletica-grant.sql:/docker-entrypoint-initdb.d/athletica-grant.sql"
            - "db_data:/var/lib/mysql"
        ports:
            - "3306:3306"
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=roott
            - MYSQL_DATABASE=athletica
            - MYSQL_USER=athletica
            - MYSQL_PASSWORD=athletica
    php:
        build: .
        image: ppoile/athletica-php:8.4.0
        container_name: athletica-php
        ports:
            - "80:80"
        restart: always
        depends_on:
            - db
    phpmyadmin:
        image: phpmyadmin/phpmyadmin:4.8
        container_name: athletica-phpmyadmin
        ports:
            - "8080:80"
        environment:
            - PMA_ARBITRARY=1
            - PMA_HOST=db
        restart: always
        depends_on:
            - db
    django:
        image: ppoile/athletica-adapter:0.5
        container_name: athletica-adapter
        stdin_open: true
        tty: true
        ports:
            - "8000:8000"
        environment:
            - DB_HOST=db
        restart: always
        depends_on:
            - db
volumes:
    db_data:
