version: "2"
services:
    db:
        image: mysql
        container_name: athletica-mysql
        volumes:
            - "./src/athletica/sql/athletica.sql:/docker-entrypoint-initdb.d/athletica.sql"
            - "db_data:/var/lib/mysql"
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=roott
            - MYSQL_DATABASE=athletica
            - MYSQL_USER=athletica
            - MYSQL_PASSWORD=athletica
    php:
        build: .
        image: athletica-php
        container_name: athletica-php
        volumes:
            - "./src:/var/www/html"
        ports:
            - "80:80"
        restart: always
        depends_on:
            - db
volumes:
    db_data:
