.starttime {
    font-weight: normal !important;
}

.list-live-small{
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 10px 3px 10px !important;
    display: inline !important;
    width: auto;
    margin-left: 20px; 
}

.list-live-big{
    display: inline !important;
    width: auto;
    padding: 3px 10px 3px 10px !important;
    font-size: 17px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;    
}

.list-results-small{
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 10px 3px 10px !important;
    display: inline !important;
    width: auto;
    margin-left: 20px;
}

.list-results-big{
    display: inline !important;
    width: auto;
    padding: 3px 10px 3px 10px !important;
    font-size: 17px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;    
}

.list-results_combined-small{
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 10px 3px 10px !important;
    display: inline !important;
    width: auto;
    margin-left: 20px;
}

.list-results_combined-big{
    display: inline !important;
    width: auto;
    padding: 3px 10px 3px 10px !important;
    font-size: 17px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;    
}

.list-results_pending-small{
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 10px 3px 10px !important;
    display: inline !important;
    width: auto;
    margin-left: 20px;
}

.list-results_pending-big{
    display: inline !important;
    width: auto;
    padding: 3px 10px 3px 10px !important;
    font-size: 17px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;    
}

.list-startlist-small{
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 10px 3px 10px !important;
    display: inline !important;
    width: auto;
    margin-left: 20px;    
}

.list-startlist-big{
    display: inline !important;
    width: auto;
    padding: 3px 10px 3px 10px !important;
    font-size: 17px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;    
}

.list-athletes-small{
    font-size: 17px !important;
    line-height: 13px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    padding: 4px 10px 3px 10px !important;
    display: inline !important;
    width: auto;
    margin-left: 20px;    
}

.list-athletes-big{
    display: inline !important;
    width: auto;
    padding: 3px 10px 3px 10px !important;
    font-size: 17px !important;
    font-weight: bold;
    text-shadow: none !important;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;    
}