.table-results-TeamSM {
    width: 100%;
    margin: auto;   
}
.table-results-TeamSM thead th {
    height: 35px;
    vertical-align: middle;
    padding-top: 0px !important;
    font-size: 15px !important;
}

.table-results-TeamSM tbody td {
    height: 45px;
    vertical-align: top;
    font-size: 15px !important;
}

.table-results-TeamSM .rank {
    width: 40px !important;
    text-align: right;
    padding-right: 15px;
    padding-top: 3px;
}
.table-results-TeamSM .team {
    width: 450px;
	line-height: 150%;
    text-align: left;
    padding-right: 15px;
}
.table-results-TeamSM .club {
    width: 230px;
    text-align: left;
    padding-top: 3px;
}
.table-results-TeamSM .result {
    text-align: center !important;
    width: 100px;
    padding-top: 3px;
}

.table-results-TeamSM th span.short {
    display: none;
}
.table-results-TeamSM th span.long {
    display: inline;
}

@media screen and (max-width: 500px) {
    .table-results-TeamSM th span.short {
        display: inline;
    }
    .table-results-TeamSM th span.long {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .table-results-TeamSM .rank {
        width: 35px !important;
    }
    .table-results-TeamSM .club {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .table-results-TeamSM .club {
        display: none;
    }
}

.table-results-TeamSM #attempts {
	font-size: 13px;
	font-style: italic;
}