body {
    background-color: #FFFFFF;
    color: #000000;
    padding: 0px;
    margin: 0px;
    font-family:Verdana,'Trebuchet MS',Arial,Helvetica,sans-serif,'Academy Engraved Let';   
    font-size:0.9em; 
}


/* ----------container zentriert das layout-------------- */
#container {    
    width: 760px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
   
   
}

/* ----------banner for logo-------------- */
#banner {
    height: 120px;
    width: 800px;
    padding: 0px;
    margin: 0px; 
}


/* -----------------Navigation-------------------- */
#navi {       
    display: none;
   
}

#navi_pc {       
   display: none;
   
}

.navi { 
    display: none;
}



/* -----------------Inhalt--------------------- */
#content {    
    
    padding-left: 20px;
    margin-left: 0px;
    margin-right: 0px; 
}



#content_pc {   
    
    padding-left: 20px;
    margin-left: 0px;
    margin-right: 0px; 
}



    /* -----------------Footer--------------------- */


.clear {
    clear: left;  
}      

#footer {
    clear: left;
    
    padding: 5px;
    margin: 0px;  
    color: #000000;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;  
     font-size: 10px;  
   
}

#footer a { 
     color: #000000;
    font-family: Arial,Helvetica,sans-serif;  
     font-size: 10px;   
    font-weight: bold;  
}


div#footer a:hover {
    color: #000000;
    text-decoration: none; 
     font-family: Arial,Helvetica,sans-serif;  
     font-size: 10px;  
}        

.right {
    text-align: right;  
    padding-right: 30px;  
}

.top {    
    padding-top: 0px;  
}

body,a,p,h1,h2,h3,h4,ul,ol,li,div,td,th,address,blockquote,b,i,form,
input,select,textarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
}

a {
    padding:0px;
}

a:link {
    color:#000000;
    text-decoration: none;
}
a:active {
    color:#000000;
    text-decoration: none;
}
a:visited {
    color:#000000;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}

/*
body {
    background-color:#FFFFFF;
    color:#000000;
    margin-left:20px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;  */
    /*scrollbar-face-color:#999999;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-3d-light-color:#000000;
    scrollbar-darkshadow-color:#222222;
    scrollbar-shadow-color:#999999;
    scrollbar-arrow-color:#000000;
    scrollbar-track-color:#000000;
}
  */
button {
    font-size:12px;
    padding-left:6px;
    padding-right:6px;
}

div.st_enrlmt_pend {
    font-style:italic;
}
div.st_enrlmt_done {
    font-weight:bold;
}
div.st_heats_work {
    background-color:#cc3300;
    color: #FFFFFF;
}
div.st_heats_done {
    background-color:#cc3300;
    font-weight:bold;
    color: #FFFFFF;
}
div.st_res_work {
    background-color:#cc3300;
    color: #FFFFFF;
}
p.st_res_work {
    background-color:#cc3300;
    width: 280px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
}
div.st_res_done {
    background-color:#cc3300;
    color: #FFFFFF;
    font-weight:bold;
}
div.st_anct_pend {
    background-color:#cc3300;
    color: #FFFFFF;
}
div.st_anct_done {
    background-color:#cc3300;
    color: #FFFFFF;
    font-weight:bold;
}
div.st_crmny_done {
    background-color:#cc3300;
    color: #FFFFFF;
    font-weight:bold;
}
div.st_res_timing{
    background-color:#cc3300;
    color: #FFFFFF;
    font-weight:bold;
    background-color:#cc3300;
    color: #FFFFFF;
}

img {
    vertical-align:middle;
    border-width:0px;
}

input.perfmeter {
    overflow:visible;
    width:10mm;
}
input.perftime {
    overflow:visible;
    width:16mm;
}
input.perfheight {
    overflow:visible;
    width:8mm;
}
input.perfmeter.manual {
    color: blue;
}
input.perftime.manual {
    color: blue;
}
input.perfheight.manual {
    color: blue;
}

input.nbr {
    overflow:visible; width:7mm;
}
input.currency {
    overflow:visible; width:10mm;
}
input.text {
    overflow:hidden; width:40mm;
}
input.textmedium {
    overflow:hidden; width:20mm;
}
input.textshort {
    overflow:hidden; width:10mm;
}
input.texttiny {
    overflow:hidden; width:7mm;
}

pre {
    font-size:12px;
}

ul {
    list-style-type:square;
}

h1 {
    font-size:14px; font-weight: bold;
}
h2 {
    font-size:12px; font-weight: bold;
}
h3 {
    font-style:italic;
}

table {
    border-width:1px;
    border-style:none;
    border-collapse:collapse;
    border-right: 1px solid red;
}

table.admin {
    width:100%;
}

tr.even {
    background-color:#DDDDDD;
}

tr.odd {
    background-color:#EEEEEE;
}
tr.active {
    background-color:#FFFF60;
}

th {
    vertical-align:middle;
    text-align:left;
    font-weight:bold;
    background-color:#cc3300;
    color: #FFFFFF;
    padding-left:6px;
    padding-right:6px;
    padding-top:1px;
    padding-bottom:1px;
}

td {
    vertical-align:middle;
    text-align:left;
    padding-left:6px;
    padding-right:6px;
    padding-top:1px;
    padding-bottom:1px;
}

th.sub {
    font-weight:normal;
}

td.cat {
    font-weight: bold;
}
td.disc {
    font-size:11px;
    padding-left:20px;
    padding-right:10px;
}

table.dialog {
   
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    border-right: 2px solid #000000;
    width: 650px;
    margin-bottom: 15px;
}
th.dialog {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    height: 18px;
}
td.dialog {
    height: 18px;
}


table.dialog_pc {
   
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    width: 650px;
    margin-bottom: 15px;
}
th.dialog_pc {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    height: 18px;
}
td.dialog_pc{
    height: 18px;
}


td.dialog-top {
    vertical-align: top;
}
td.dialog_right {
    text-align:right;
}
td.dialog_sub {
    padding-left:25px;
}

th.date {
    color:#EEEEEE;
    background-color:#000000;
    border-width:1px;
    border-style:solid;
   
}

td.forms {
    vertical-align:middle;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}
td.forms_ctr {
    vertical-align:middle;
    text-align:center;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}
td.forms_right {
    vertical-align:middle;
    text-align:right;
    padding-left:5px;
    padding-right:5px;
    padding-top:0px;
    padding-bottom:0px;
}

td.forms_pc {
    vertical-align:middle;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}
td.forms_ctr_pc {
    vertical-align:middle;
    text-align:center;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}


td.forms_right_bold {
    vertical-align:middle;
    text-align:right;
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
    padding-top:0px;
    padding-bottom:0px;
}

td.forms_right_grey {
    vertical-align:middle;
    text-align:right;
    padding-left:5px;
    padding-right:5px;
    padding-top:0px;
    padding-bottom:0px;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    background-color: #DDDDDD;
}

td.forms_intend {
    vertical-align:middle;
    text-align:left;
    padding-left:20px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}

td.monitor {
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}

td.nav {
    background-color:#CCCCCC;
    border-style:outset;
    border-width:2px;
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}

td.nav_announced {
    background-color:#BBFFBB;
    border-style:outset;
    border-width:2px;
    text-align:center;
    padding-left:6px;
    padding-right:6px;
}


table.timetable {
    border-collapse:collapse;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}

th.timetable {
    text-align:left;
     width: 124px;
}

th.timetable_sub {
    background-color:#BBBBBB;
    color: #000000;
    font-weight:normal;
    text-align:center;
    border-width:1px;
   border-style:solid;
   width: 48px;
}

td.timetable {
    text-align:center;
    white-space:nowrap;
}

td.warning {
    color:#FFFFFF;
    background-color:#808080;
}

td.statistic_layout {
    vertical-align:top;
    padding:5px;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
td.statistic {
    text-align:right;
}
th.statistic_total {
    text-align:right;
}

.highlight_green {
    background-color:#00DD00;
}
.highlight_red {
    background-color:#FF0000;
}
.highlight_nulltime_red {
    color:#FF0000;
}
.highlight_orange {
    background-color:#FFCC00;
}

div.faq {
    background-color: #FFCC00;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}
th.faq {
    background-color: #FFAA00;
}

th.secure{
    background-color: #FFCC33;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
th.insecure{
    background-color: #FF6600;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
th.sync {
    background-color: #FF6600;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
.syncbutton {
    background-color: #FF6600;
}
th.baseupdate {
    background-color: #79EC68;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
.baseupdatebutton {
    background-color: #79EC68;
}
.baseresetbutton {
    background-color: #C0C0C0;
}
th.bestlistupdate{
    background-color: #FF3E43;
    border-width:1px;
    border-style:solid;
    border-color:#000000;
}
.uploadbutton {
    background-color: #FF3E43;
}
th.updatebox{
    background-color: #FF3E43;
    border: none;

    height: 28px;
}

th.updateboxok{
    background-color: #79EC68;
    border: none;

    height: 28px;
}


/*base_performance hover tooltips*/
a.info{
    position:relative; /*this is the key*/
    z-index:24;
    text-decoration:none;
    /*background-color:#ccc;*/
    /*color:#000;*/
}

a.info:hover{z-index:25; background-color:#ff0}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:1.5em; left:2em; width:25em;
    border:1px solid #999;
    padding: 2px 5px;
    background-color:#FFFFDF; color:#000;
    text-align: left;
    text-decoration: none;
}

.code {
    border: dashed 1px #000000;
    background-color: #FFFFFF;

    padding: 10px;

    font-family: Courier New;
}

a.timetable_heat_process {
    display: none;
  
}

a.timetable_heat_done{
    display: none;
}


.info {
   display: none;
   
}
.info1 {
    display: none;
}
.info2 {
    display: none;
}
.info3 {
    display: none;
}

.space {
     display: none;
}

 


